{% extends "base.html" %}
{% load bootstrap3 %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}

        <style>

        body{
            background: url(https://s3-us-west-2.amazonaws.com/orchidwoman/smile-color-laugh-black-157907.jpeg) no-repeat fixed;
            background-size: cover;
        }

    </style>

    <h1>Feel The Luxury</h1>

{#    <div class="row">#}
{#    <div class="col-md-8">#}
{#        <img class="img-responsive img-rounded" src="https://s3-us-west-2.amazonaws.com/orchidwoman/smile-color-laugh-black-157907.jpeg"#}
{#             alt="" width="2340" height="1188">#}
{#    </div>#}

        <br>

    <a href="/products" class="btn btn-primary btn-lg">See the Collection</a>


{% endblock %}